.checkbox-grid-right mat-checkbox {
  display: block;
  float: right;
  width: 50%;
  margin-bottom: 8px;
}

.checkbox-grid mat-checkbox {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 8px;
}
