<form #myForm="ngForm" (ngSubmit)="save()" [formGroup]="practitionFormGroup">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <mat-icon [icIcon]="practition?.id?icEdit:icAdd" class="mr-5"></mat-icon>

    <span class="subheading-2 m-0"
          fxFlex>{{practition?.id ? 'Modification Pratitien' : 'Nouveau Pratitien'}}</span>

    <!--<button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>-->

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
      <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
        <button (click)="changeState()"
                [ngClass]="practitionFormGroup?.get('activate')?.value?['text-green', 'bg-green-light']:['text-red', 'bg-red-light']"
                mat-button type="button">
          {{practitionFormGroup?.get('activate')?.value ? 'Activer' : 'Desactiver'}}
        </button>
      </div>
    </div>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Nom & Prénom</mat-label>
      <input formControlName="fullName" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Telephone</mat-label>
      <ngx-mat-intl-tel-input #phoneNumber [enablePlaceholder]="true"
                              [onlyCountries]="['ml']" formControlName="phoneNumber"></ngx-mat-intl-tel-input>
      <mat-error *ngIf="myForm.form.controls['phoneNumber']?.errors?.validatePhoneNumber">
        Numero de telephone invalide
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Metier</mat-label>
      <mat-select formControlName="work" (selectionChange)="getWorkById($event.value)">
        <ng-container *ngFor="let w of works">
          <mat-option [value]="w.id">
            {{w?.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <div class="uploadDialogDiv">
      <input type="file" name="uploadfile" formControlName="avatar" (change)="loadFiles($event)" class="inputfile"
             id="upfile"/>
      <label for="upfile"> Selectionner la photo de profil </label> <br/>
    </div>

    <div class="imgCropped">
      <image-cropper
        *ngIf="imageChangedEvent"
        [maintainAspectRatio]="false"
        [imageChangedEvent]="imageChangedEvent"
        [format]="'jpeg'"
        [imageQuality]="20"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
    <br>

    <div (click)="getCouverture()" class="uploadDialogDiv">
      <input #couverture type="file" name="uploadfile" formControlName="background"
             (change)="loadFilesCouverture($event)" class="inputfile"/>
      <label> Selectionner la photo de couverture </label> <br/>
    </div>

    <div class="imgCropped">
      <image-cropper
        *ngIf="imageChangedEventCouverture"
        [maintainAspectRatio]="false"
        [imageChangedEvent]="imageChangedEventCouverture"
        [format]="'jpeg'"
        [imageQuality]="20"
        (imageCropped)="imageCroppedCouverture($event)"
      ></image-cropper>
    </div>
    <br>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Présentation</mat-label>
      <textarea matInput
                formControlName="presentation"
                rows="5">
            </textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button [disabled]="practitionFormGroup.invalid" [ngClass]="['text-green', 'bg-green-light']" mat-button
            type="submit">
      <mat-icon [icIcon]="icCheck" class="mr-5"></mat-icon>
      {{practition?.id ? 'MODIFIER' : 'CREER'}}
    </button>
    <button [ngClass]="['text-red', 'bg-red-light']" mat-button mat-dialog-close type="button">
      <mat-icon [icIcon]="icClose" class="mr-5"></mat-icon>
      ANNULER
    </button>
  </mat-dialog-actions>
</form>
