<div class="card overflow-hidden">
  <div (click)="showUserDialog.emit(user)"
       class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative"
       matRipple>
    <img [src]="'assets/img/baarada/user.svg'" class="avatar h-24 w-24 mx-auto">

    <!--
            <h2 class="title mb-1 mt-3">{{ user?.name }}</h2>
    -->
    <div class="body-2 text-secondary">
      <ic-icon [icon]="icPerson" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
      <span>{{ user?.username }}</span>
    </div>

    <!--   <div class="body-2 text-secondary">
           <ic-icon [icon]="icPhone" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
           <span>{{ user?.phoneNumber }}</span>
       </div>-->
  </div>

  <div class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">

    <button (click)="showUserDialog.emit(user)" class="text-secondary" mat-button matTooltip="Modifier">
      <mat-icon [icIcon]="icEdit"></mat-icon>
    </button>

    <button (click)="disableOrEnableUser.emit(user)"
            [ngClass]="user?.active?['text-green', 'bg-green-light']:['text-red', 'bg-red-light']"
            class="text-secondary" mat-button type="button">
      {{user?.active ? 'Actif' : 'Inactif'}}
    </button>

  </div>
</div>
